#main-navbar{
	background-color: blue;
	overflow: hidden; 

}

#navbar-container{
	text-align: center;
	width: 100%; 
	
	float: left;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	vertical-align: top;
	position: relative; 
}
#main-navbar ul li {
	display: block; 
  float: left;
  right: 50%;
  position: relative;
}

